<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="News Detail"></Label>
</ActionBar>

<StackLayout class="page__content" #layout>
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    <!-- <Label class="page__content-placeholder" *ngFor="let s of this.news.search()" [text]="s"></Label> {{android}} {{ios}} -->
    <Label text="Reviews"></Label>

    <!-- <PullToRefresh (refresh)="onPull($event)"> -->
    <ListView class="list-group" [items]="this.reviews.search()">
        <ng-template let-x="item">
            <GridLayout columns="50, auto, *" rows="50,auto, *" verticalAlignment="top" backgroundColor="lightgray">
                <Image src="res://icon" rowSpan="3" width="72" height="72" margin="3" verticalAlignment="center"></Image>


                <Label [text]=" x " textWrap="true " col="1 " row="0 " colSpan="2 " minHeight="25 " fontSize="16 " margin="3 "></Label>


                <Label text="Usuario: KGC " row="1 " col="1 " fontSize="14 " verticalAlignment="bottom " margin="3 "></Label>
                <Label text="Puntaje: 4.3 " row="1 " col="2 " fontSize="14 " verticalAlignment="bottom " margin="3 " color="#10C2B0 "></Label>
                <Button text="Alert: Tap me! " row="2 " col="1 " margin="3 " (tap)="onTapAlert($event) " backgroundColor="pink "></Button>
                <Button text="Action: Tap me! " row="2 " col="2 " margin="3 " (tap)="onTapAction($event) "></Button>
            </GridLayout>
        </ng-template>
    </ListView>
    <!-- </PullToRefresh> -->
</StackLayout>