<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Reviews"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf002;"></Label>

    <ListView class="list-group" [items]="this.reviews.all()" style="height: 1250px">
        <ng-template let-x="item">
            <FlexboxLayout flexWrap="wrap" class="list-group-item">
                <Image src="res://icon" class="thumb img-circle" (longPress)="onLongPress($event)"></Image>
                <Image src="https://play.nativescript.org/dist/assets/img/flags/co.png" class="thumb img-circle"></Image>
                <Image src="~/images/android_logo.jpg" class="thumb img-circle"></Image>
                <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 60%"></Label>

                <!-- <Label [text]="x.titulo" class="list-group-item-heading" verticalAlignment="center" style="width: 30%"></Label>
                <Label [text]="x.categoria" class="list-group-item-heading" verticalAlignment="center" style="width: 20%"></Label>
                <Label class="far" text="&#xf005;" style="width: 10%; color: gray;" verticalAlignment="center" (tap)="onTap($event, x)" *ngIf="!x.favorita"></Label>
                <Label class="fas" text="&#xf005;" style="width: 10%; color: #ffcc00;" verticalAlignment="center" (tap)="onTap($event, x)" *ngIf="x.favorita"></Label> -->
            </FlexboxLayout>
        </ng-template>
    </ListView>
</StackLayout>