// Import common styles
@import "app-common";
// Place any CSS rules you want to apply only on Android here
.button {
    background-color: yellowgreen;
}

.view {
    animation-name: backgroundColor;
    animation-duration: 3;
}

@keyframes backgroundColor {
    from {
        background-color: white;
    }
    to {
        background-color: red;
    }
}